<!--==================== HEADER ====================-->
<app-header></app-header>
<!--==================== MAIN ====================-->

<div id="particles-js"></div>
<main class="main">

  <app-home></app-home>
  <app-about></app-about>
  <app-services></app-services>
  <app-projects></app-projects>
  <app-contact></app-contact>
</main>
<!-- <div class="social">
  <a href="https://www.instagram.com/" class="social-link">
    <i class="ri-instagram-line"></i>
  </a>
  <a href="https://www.linkedin.com/in/litzennisperos/" class="social-link">
    <i class="ri-linkedin-box-line"></i>
  </a>
  <a href="https://github.com/nisperos19" class="social-link">
    <i class="ri-github-line"></i>
  </a>
</div> -->

<!--==================== FOOTER ====================-->
<footer class="footer">
  <div class="footer__container container grid">
    <ul class="footer__links">
      <li>
        <a href="#about" class="footer__link">About</a>
      </li>
      <li>
        <a href="#services" class="footer__link">Services</a>
      </li>
      <li>
        <a href="#projects" class="footer__link">Projects</a>
      </li>
    </ul>

    <span class="footer__copy">
      &#169; All Rights Reserved By
      <a href="#">Litzen Nicole T. Nisperos</a>
    </span>
  </div>
</footer>

<!--========== SCROLL UP ==========-->
<a href="#" class="scrollup" id="scroll-up">
  <i class="ri-arrow-up-s-line"></i>
</a>