<!--==================== HEADER ====================-->
<app-header></app-header>
<!--==================== MAIN ====================-->
<main class="main">
  <!--==================== HOME ====================-->
  <app-home></app-home>
  <!--==================== ABOUT ====================-->
  <app-about></app-about>
  <!--==================== SERVICES ====================-->
  <app-services></app-services>
  <!--==================== PROJECTS ====================-->
  <app-projects></app-projects>
  <!--==================== CONTACT ====================-->
  <app-contact></app-contact>
</main>

<!--==================== FOOTER ====================-->
<footer class="footer">
  <div class="footer__container container grid">
    <ul class="footer__links">
      <li>
        <a href="#about" class="footer__link">About</a>
      </li>
      <li>
        <a href="#services" class="footer__link">Services</a>
      </li>
      <li>
        <a href="#projects" class="footer__link">Projects</a>
      </li>
    </ul>

    <span class="footer__copy">
      &#169; All Rights Reserved By
      <a href="#">Litzen Nicole T. Nisperos</a>
    </span>
  </div>
</footer>

<!--========== SCROLL UP ==========-->
<a href="#" class="scrollup" id="scroll-up">
  <i class="ri-arrow-up-s-line"></i>
</a>