<section class="projects section" id="projects">
    <h2 class="section__title-1">
        <span>Projects.</span>
    </h2>

    <div class="projects__container container grid">
        <ng-container *ngFor="let p of projects">
            <article class="projects__card">
                <div class="projects__image">
                    <img [src]="p.imgLink" alt="image" class="projects__img" />

                    <a [href]="p.projectLink" target=”_blank” class="projects__button button">
                        <i class="ri-arrow-right-up-line"></i>
                    </a>
                </div>

                <div class="projects__content">
                    <h3 class="projects__subtitle">{{p.subtitle}}</h3>
                    <h2 class="projects__title">{{p.title}}</h2>

                    <p class="projects__description">
                        {{p.description}}
                    </p>
                </div>

                <!-- <div class="projects__buttons">
                    <a href="https://github.com/" class="projects__link">
                        <i class="ri-github-line"></i> View
                    </a>
                </div> -->
            </article>
        </ng-container>
    </div>
</section>