<section class="contact section" id="contact">
    <div class="contact__container grid">
        <div class="contact__data">
            <h2 class="section__title-2">
                <span>Contact Me.</span>
            </h2>

            <p class="contact__description-1">
                I am currently open for any new opportunities, my inbox is always open. Whether you have a question or
                just want to say hi, I will try my best to get back to you!
            </p>
            <p class="contact__description-2">
                The best way to contact me is through <b>sms, email, or LinkedIn</b>.
            </p>

            <div class="geometric-box"></div>
        </div>

        <div class="contact__mail">
            <h2 class="contact__title">Send Me A Message</h2>
            <p class="contact__info">Email here: <a href="mailto:litzennisperos@gmail.com">litzennisperos@gmail.com</a>
            </p>
            <p class="contact__info">Contact No.: <a>+639950878540</a></p>
            <p class="contact__title">Or you could fill up this form: </p>
            <form action="" class="contact__form" id="contact-form">
                <div class="contact__group">
                    <div class="contact__box">
                        <input type="text" name="user_name" class="contact__input" id="name" required
                            placeholder="First Name" />
                        <label for="name" class="contact__label">First Name</label>
                    </div>
                    <div class="contact__box">
                        <input type="email" name="user_email" class="contact__input" id="email" required
                            placeholder="Your Email Address" />
                        <label for="email" class="contact__label">Your Email Address</label>
                    </div>
                </div>

                <div class="contact__box">
                    <input type="text" name="user_subject" class="contact__input" id="subject" required
                        placeholder="Subject" />
                    <label for="subject" class="contact__label">Subject</label>
                </div>

                <div class="contact__box contact__area">
                    <textarea name="user_message" id="message" class="contact__input" required
                        placeholder="Message"></textarea>
                    <label for="message" class="contact__label">Message</label>
                </div>

                <p class="contact__message" id="contact-message"></p>

                <button type="submit" class="contact__button button">
                    <i class="ri-send-plane-line"></i> Send Message
                </button>


            </form>
        </div>

        <div class="contact__social">
            <img src="./../../assets/img/curved-arrow.svg" alt="" class="contact__social-arrow" />

            <div class="contact__social-data">
                <div>
                    <p class="contact__social-description-1">Does not send emails</p>
                    <p class="contact__social-description-2">
                        Write me on my social networks
                    </p>
                </div>
                <div class="contact__social-links">
                    <a href="https://www.facebook.com/nisperos19" target="_blank" class="contact__social-link">
                        <i class="ri-facebook-circle-line"></i>
                    </a>
                    <!-- <a href="https://www.instagram.com/" target="_blank" class="contact__social-link">
                        <i class="ri-instagram-line"></i>
                    </a> -->
                    <a href="https://www.linkedin.com/in/litzennisperos/" target="_blank" class="contact__social-link">
                        <i class="ri-linkedin-box-line"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>