.contact__info {
  color: var(--white-color);
  font-size: var(--small-font-size);
  margin-bottom: 1rem;
  text-align: center;
  a {
    &:hover {
      cursor: pointer;
    }
    color: var(--first-color);
  }
}

@media screen and (min-width: 1150px) {
  .contact__info {
    text-align: initial;
  }
}
