<section class="home section" id="home">
    <div class="home__container container grid">
        <h1 class="home__name">Litzen Nicole Nisperos</h1>

        <div class="home__perfil">
            <!-- <div class="home__image">
                <img src="./../../assets/img/me_candid_blur.png" alt="" class="home__img" />
                <div class="home__shadow"></div>

                <img src="./../../assets/img/curved-arrow.svg" alt="" class="home__arrow" />
                <img src="./../../assets/img/random-lines.svg" alt="" class="home__line" />
                <div class="geometric-box"></div>
            </div>

            <div class="home__social">
                <a href="https://www.instagram.com/" class="home__social-link">
                    <i class="ri-instagram-line"></i>
                </a>
                <a href="https://www.linkedin.com/in/litzennisperos/" class="home__social-link">
                    <i class="ri-linkedin-box-line"></i>
                </a>
                <a href="https://github.com/nisperos19" class="home__social-link">
                    <i class="ri-github-line"></i>
                </a>
            </div> -->
        </div>
        <div class="home__info">
            <p class="home__description">
                <b>Web/Mobile developer</b> specialized in building/developing user interface and user experience.
                Currently I am focused on developing Systems, Websites, and Mobile
                Applications at <b>LGUSuite Inc</b>.
            </p>

            <a href="#about" class="home__scroll" id="scroll-about">
                <div class="home__scroll-box">
                    <i class="ri-arrow-down-s-line"></i>
                </div>

                <span class="home__scroll-text">More About Me!</span>
            </a>
        </div>
    </div>
</section>