.home__container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  margin: 0 auto;
  height: 80vh;
}
.home__info {
  margin-top: 0;
  align-self: flex-start;
}
.home__intro {
  color: var(--title-color);
  font-size: var(--h2-font-size);
}
.home__name {
  font-size: var(--biggest-font-size);
  text-align: initial;
}

.home__description {
  text-align: initial;
  color: var(--title-color);
  position: relative;
  font-size: var(--h2-font-size);
  margin-bottom: 5.5rem;
  padding-left: 3rem;
}
.home__description::after {
  content: "";
  width: 32px;
  height: 2px;
  background-color: var(--title-color);
  position: absolute;
  left: 0;
  top: 14px;
}

.home__description b {
  color: var(--title-color);
  background: linear-gradient(
    90deg,
    hsla(14, 98%, 50%, 0.3),
    hsla(14, 98%, 50%, 0)
  );
}

.section {
  min-height: 100vh;
  max-width: 1000px;
}

.home__scroll {
  width: max-content;
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
}

.home__scroll-text {
  display: block;
  color: var(--text-color);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
}

.home__scroll-box {
  background-color: var(--black-color);
  color: var(--white-color);
  width: 44px;
  height: 44px;
  display: grid;
  place-items: center;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.4s;
}

.home__scroll-box i {
  animation: scroll-down 3s infinite;
  font-size: 1.25rem;
}

/* Animate scroll icon */
@keyframes scroll-down {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0.6rem);
    opacity: 0;
  }
}

.underline {
  display: inline-block;
  position: relative;
}
.underline:after {
  content: "";
  width: 0px;
  height: 2px;
  position: absolute;
  top: 100%;
  left: 0;
  background: black;
  transition: 300ms;
}
.underline:hover:after {
  width: 100%;
}
.underline:not(:hover):after {
  right: 0;
  left: auto;
}
