<section class="home section" id="home">
    <div class="home__container container grid">
        <h1 class="home__name">Litzen Nicole Nisperos</h1>

        <div class="home__perfil">
            <div class="home__image">
                <img src="./../../assets/img/me_portrait.jpg" alt="" class="home__img" />
                <div class="home__shadow"></div>

                <img src="./../../assets/img/curved-arrow.svg" alt="" class="home__arrow" />
                <img src="./../../assets/img/random-lines.svg" alt="" class="home__line" />
                <div class="geometric-box"></div>
            </div>

            <div class="home__social">
                <a href="https://www.instagram.com/" class="home__social-link">
                    <i class="ri-instagram-line"></i>
                </a>
                <a href="https://www.linkedin.com/" class="home__social-link">
                    <i class="ri-linkedin-box-line"></i>
                </a>
                <a href="https://github.com/" class="home__social-link">
                    <i class="ri-github-line"></i>
                </a>
            </div>
        </div>
        <div class="home__info">
            <p class="home__description">
                <b>Web Developer</b>, with knowledge in backend and frontend, I offer
                the best projects resulting in quality work.
            </p>

            <a href="#about" class="home__scroll" id="scroll-about">
                <div class="home__scroll-box">
                    <i class="ri-arrow-down-s-line"></i>
                </div>

                <span class="home__scroll-text">Scroll Down</span>
            </a>
        </div>
    </div>
</section>