<section class="home section" id="home">
    <div class="home__container container">
        <p class="home__intro">Hi, my name is</p>
        <h1 class="home__name">Nico Nisperos</h1>
        <div class="home__info">
            <p class="home__description">
                <b>Web/Mobile developer</b> specialized in building/developing user interface and user experience.
                Currently I am focused on developing Systems, Websites, and Mobile
                Applications at <b>LGUSuite Inc</b>.
            </p>

            <a href="#about" class="home__scroll" id="scroll-about">
                <div class="home__scroll-box">
                    <i class="ri-arrow-down-s-line"></i>
                </div>

                <span class="home__scroll-text">More About Me!</span>
            </a>
        </div>
    </div>
</section>